[Desktop Entry]
Name=Bitcoin Price
Name[en_GB]=Bitcoin Price
Name[pl]=Bitcoin - Kurs
Comment=Shows current price of Bitcoin on the market.
Comment[en_GB]=Shows current price of Bitcoin on the market.
Comment[pl]=Pokazuje aktualny kurs Bitcoina.

Icon=bitcoin128
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Maciej Gierej
X-KDE-PluginInfo-Email=makg@makg.eu
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://maciej.gierej.pl
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.bitcoinprice

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
