[Desktop Entry]
Name=COVID-19 cases
Comment=Shows current coronavirus (COVID-19) cases by country.

Icon=applications-science
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Kacper Huzar
X-KDE-PluginInfo-Version=1.0.3
X-KDE-PluginInfo-Website=http://2442.pl
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.covidrate

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
