[Desktop Entry]
Name=COVID-19 Monitor
Comment=Displays current statistics about COVID-19 in the country of the user's choice.

Icon=applications-science
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Kacper Huzar,tjaart,StrangeAlmond,Rakshazi
X-KDE-PluginInfo-Version=1.3
X-KDE-PluginInfo-Website=http://2442.pl
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.covidrate

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
X-Plasma-DefaultSize=200,50
